<footer>
    <div class="row">
        <div class="columns large-4 small-12">
            <div class="footer_menu">
                <div class="row">
                    <div class="columns large-6 medium-6 small-12">
                        <ul>
                            <li>
                                <a href="#">
                                    <mat-icon>home</mat-icon>Accueil</a>
                            </li>
                            <li>
                                <a href="#">
                                    <mat-icon>face</mat-icon>Artistes</a>
                            </li>
                            <li>
                                <a href="#">
                                    <mat-icon>today</mat-icon>Programme</a>
                            </li>
                            <li><i class="fab fa-accessible-icon"></i></li>
                        </ul>
                    </div>
                    <div class="columns large-6 medium-6 small-12">
                        <ul>
                            <li>
                                <a href="#">
                                    <mat-icon>info</mat-icon>Infos</a>
                            </li>
                            <li>
                                <a href="#">
                                    <mat-icon>credit_card</mat-icon>Billetterie</a>
                            </li>
                            <li>
                                <a href="#">
                                    <mat-icon> call</mat-icon>Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns large-4 small-12 ">
            <div class="footer_social">

            </div>
        </div>

    </div>
</footer>