<div id="zone_nav" class="pos1">
    <div class="section_wrap">
        <div class="logo_mobile">
            <a href="/"><img src="../img/logo_mobile.png" alt="Accueil"></a>
        </div>
        <div class="row">
            <div class="columns large-12" id="zone_menu">
                <nav>
                    <ul>
                        <li class="active">
                            <a class="" href="/" data-hover="Accueil">
                                <i class="fa fa-home"></i><span><span>Accueil</span></span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="../fr/cours-de-danses_5.html" data-hover="Les cours">
                                <span>Les cours</span></a>
                        </li>
                        <li>
                            <a class="" href="../fr/horaires-des-cours-de-danses_7.html" data-hover="Les horaires">
                                <span>Les horaires</span></a>
                        </li>
                        <li>
                            <a class="" href="../fr/stage-festival-de-danse_6.html" data-hover="Les événements">
                                <span>Les événements</span></a>
                        </li>
                        <li>
                            <a>
                                <span>Les danses</span></a>
                            <ul class="fallback">

                                <li>
                                    <a class="" href="../fr/la-danse-salsa_9.html" data-hover="La Salsa">
                                        <span>La Salsa</span></a>
                                </li>


                                <li>
                                    <a class="" href="../fr/la-danse-bachata_10.html" data-hover="La Bachata">
                                        <span>La Bachata</span></a>
                                </li>

                                <li>
                                    <a class="" href="../fr/la-danse-kizomba_11.html" data-hover="La Kizomba">
                                        <span>La Kizomba</span></a>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a class="" href="../fr/contact-corsica-latina_12.html" data-hover="Contact">
                                <span>Contact</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <div class="mobile">
        <div class="btn_resa">
        </div>

    </div>

</div>